.nav {
    background-color:#9fc5f8;
    color: #ffffff;
    height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
    
  }
  
  .nav-title {
    margin-left: 20px;
  }
  /******-----------+++++++++++++------------*****/
  /*main Container style*/
 
  /* top container style*/
  .top{
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .degree{
    display: flex;
    justify-content: space-around;
    margin: left 5px; ;
    display: flex;
  }
  select{
    margin-left: 5px;
  }
  hr{
    height: 2px;
    background-color: black;
  }
  /*med container style*/
  .med{
    display: flex;
    justify-content: center;
  }
.weatherContainer{
  flex: 1;
  text-align: center;
  background-color: #ddd;
  padding: 40px 0;
  margin-right: 20px;
    
    background-color:#eeeeee;
}
.im{
   border-radius: 50px;
    width: 100px;
    height: 100px;
}
.number{
    display: flex;
    justify-content: space-around;
}
.numRed{
    color: red;
}
.numBlue{
    color: blue;
}
.cookieContainer{
    display: flex;
    justify-content: center;
  
    border: 2px solid black;
}
.btn{

    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    font-size: 16px;
    margin-top: 40px;
}
.cookiImg{
    width: 80px;
    height: 80px;
}
