.nav {
    background-color:#9fc5f8;
    color: #ffffff;
    height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
    
  }
  
  .nav-title {
    margin-left: 20px;
  }

  /******-----------+++++++++++++------------*****/
  /* heo */
  #hero {
    width: 100%;
    height: 75vh;
    background: url("../img/hero-bg.jpg") top left;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .container {
    position: relative;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h1 span {
    color: #106eea;
  }
  
  #hero h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }
  
  #hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #106eea;
  }
  
  #hero .btn-get-started:hover {
    background: #247cf0;
  }
  
  #hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #222222;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  
  #hero .btn-watch-video i {
    color: #106eea;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  #hero .btn-watch-video:hover {
    color: #106eea;
  }
  
  #hero .btn-watch-video:hover i {
    color: #3b8af2;
  }
  /* endheo */
  /*main Container style*/
 
  /* top container style*/
  .top{
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .degree{
    display: flex;
    justify-content: space-around;
    margin: left 5px; ;
    display: flex;
  }
  select{
    margin-left: 5px;
  }
  hr{
    height: 2px;
    background-color: black;
  }
  /*med container style*/
  .med{
    display: flex;
    justify-content: center;
  }
.weatherContainer{
  flex: 1;
  text-align: center;
  background-color: #ddd;
  padding: 40px 0;
  margin-right: 20px;
    
    background-color:#eeeeee;
}
.im{
   border-radius: 50px;
    width: 100px;
    height: 100px;
}
.icon img{
  width: 100px;


}
.number{
    display: flex;
    justify-content: space-around;
}
.numRed{
    color: red;
}
.numBlue{
    color: blue;
}
.cookieContainer{
    display: flex;
    justify-content: center;
  
    border: 2px solid black;
}
.btn{

    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    font-size: 16px;
    margin-top: 40px;
}
.cookiImg{
    width: 80px;
    height: 80px;
}

